body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    font-size: 25px;
}

nav {
    background-color: #374151;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: rgba(0, 255, 229, 0.548);
    text-decoration: underline;
    font-size: 25px;
}

main {
    padding: 30px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius:10px;/*controla que tan redonda se ve*/
    overflow:hidden;/*corta esquinas rectas de adentro*/
    border:1px solid #374151; /*controla caracteristicas del borde exterior*/
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}